@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin-top: 3%;
}

.card {
  background-color: white;
  border-radius: 5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  width: 400px;
  height: 600px;
}

.symbol {
  font-size: 600%;
}

.card :nth-child(2) {
  font-size: 900%;
  text-align: center;
}

.card :nth-child(3) {
  text-align: left;
  transform: rotate(-180deg);
}

.mybtn button {
  margin-top: 20px;
}
